<section class="block container">
  <header class="block__header">
    <h2 class="block__title">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eum modi
      amet impedit ex itaque enim quisquam tenetur facilis autem!
    </p>
  </header>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__title">Heading</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae,
      minima?
    </p>
  </div>
</section>
