<footer class="block block--dark block-footer">
  <section class="container">
    <div class="collapsible block-footer__content">
      <header class="collapsible__header">
        <h4 class="collapsible__title block__title">PRODUCTS</h4>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite_alt.svg#chevron"></use>
        </svg>
      </header>
      <ul class="list collapsible__body">
        <li class="list__item"><a href="#">WordPress Hosting</a></li>
        <li class="list__item"><a href="#">Free Automated WordPress</a></li>
        <li class="list__item"><a href="#">Migrations</a></li>
        <li class="list__item"><a href="#">Domain Names</a></li>
        <li class="list__item"><a href="#">Monthly Web Hosting</a></li>
      </ul>
    </div>
    <div class="collapsible block-footer__content">
      <header class="collapsible__header">
        <h4 class="collapsible__title block__title">COMPANY</h4>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite_alt.svg#chevron"></use>
        </svg>
      </header>
      <ul class="list collapsible__body">
        <li class="list__item"><a href="#">About</a></li>
        <li class="list__item"><a href="#">Affilates</a></li>
        <li class="list__item"><a href="#">Blog</a></li>
        <li class="list__item"><a href="#">Careers</a></li>
        <li class="list__item"><a href="#">Community</a></li>
        <li class="list__item"><a href="#">News</a></li>
        <li class="list__item"><a href="#">Green Hosting</a></li>
      </ul>
    </div>
    <div class="collapsible block-footer__content">
      <header class="collapsible__header">
        <h4 class="collapsible__title block__title">SUPPORT</h4>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite_alt.svg#chevron"></use>
        </svg>
      </header>
      <ul class="list collapsible__body">
        <li class="list__item"><a href="#">Contact</a></li>
        <li class="list__item"><a href="#">Knowledge Base</a></li>
        <li class="list__item"><a href="#">Forums</a></li>
        <li class="list__item"><a href="#">System Status</a></li>
        <li class="list__item"><a href="#">Web Hosting</a></li>
        <li class="list__item"><a href="#">DreamCompute</a></li>
      </ul>
    </div>
    <div class="collapsible block-footer__content">
      <header class="collapsible__header">
        <h4 class="collapsible__title block__title">DOMAINS</h4>
        <svg class="icon icon--white collapsible__chevron">
          <use xlink:href="images/sprite_alt.svg#chevron"></use>
        </svg>
      </header>
      <ul class="list collapsible__body">
        <li class="list__item"><a href="#">Domain Checker</a></li>
        <li class="list__item"><a href="#">Domain Transfer</a></li>
        <li class="list__item"><a href="#">Free Domain</a></li>
        <li class="list__item"><a href="#">XYZ Domain</a></li>
        <li class="list__item"><a href="#">Cheap SSL Certificate</a></li>
      </ul>
    </div>

    <picture class="block-footer__img"
      ><img src="/images/logo.svg" alt="" />
      <p>Copyright &copy; 2022</p>
    </picture>
  </section>
</footer>
