<section class="block block--dark block--skewed-right block-showcase">
  <h2 class="block__header block__title">User-Friendly Control Panel</h2>
  <div class="container grid grid--1x2--showcase">
    <picture class="block-showcase__img">
      <source
        type="image/webp"
        srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x"
      />
      <source
        type="image/png"
        srcset="images/ipad.png 1x, images/ipad@2x.png 2x"
      />
      <img
        class="block-showcase__img"
        src="/images/ipad@2x.png"
        alt="Ipad with control panel preview"
      />
    </picture>
    <ul class="list block-showcase__content">
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite_alt.svg#snap"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Easy Start & Managed Updates</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae odio in doloremque corporis architecto dolore
              provident earum molestias itaque maxime!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite_alt.svg#growth"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Staging, Git & WP-SLI</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae odio in doloremque corporis architecto dolore
              provident earum molestias itaque maxime!
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary">
              <use xlink:href="images/sprite_alt.svg#wordpress"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title">Dynamic Caching & More</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae odio in doloremque corporis architecto dolore
              provident earum molestias itaque maxime!
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
